
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a >About</a></li>                
                <li><a >Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div >
            <div style="padding-top:40px; padding-bottom:3px; padding-left:5px;">
                <img src="assets/img/The North Carolina Court System.png" />

                <span class="pull-right" style="padding-right:60px;">
                    <img  height="15" width="350" src="assets/img/HRSMS Logo2.jpg" />
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ciprs-banner-bar-1" ></div>
    </div>
    <div class="row spacer">
        <div class="ciprs-banner-bar-2" ></div>
    </div>
</div>

<table width="99%" align="center" border="5">
    <tr>
    <td align="left" class="ng-scope" style="width:15%;padding-left:30px;">           
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown" myDropDown>
            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                Salary Changes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu" myDropDown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        Salary Allocation <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Attorneys</a></li>
                        <li><a href="#">Support Staff</a></li>
                    </ul>
                </li>                    
                <li class="dropdown-submenu" myDropDown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        Step Increases  <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Clerks</a></li>
                    <li><a href="#">Magistrates</a></li>
                    </ul>
                </li>
            </ul>
          </li>
        </ul>
    </td>

 <td align="left" class="ng-scope" style="width:15%;padding-left:30px;">           
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown" myDropDown>
            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                History <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu" myDropDown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        Salary Change Process History </a>
                </li>                    
                <li class="dropdown-submenu" myDropDown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        Salary Allocation History  <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Attorneys</a></li>
                    <li><a href="#">Support Staff</a></li>
                    </ul>
                </li>
            </ul>
          </li>
        </ul>
    </td>

    <td align="left" class="ng-scope" style="width:15%;padding-left:30px;">  
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown" myDropDown>
            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                Employee<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Employee List</a></li>
            </ul>
          </li>
        </ul>                  
    </td>
<td align="left" class="ng-scope" style="width:15%;padding-left:30px;">           
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown" myDropDown>
            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                System Maintenance <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu" myDropDown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        Longevity Maintenance  <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Elected Officials</a></li>
                        <li><a href="#">Employees</a></li>
                    </ul>                        
                </li>                    
                <li class="dropdown-submenu" myDropDown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        Pay Plan Maintenance  <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Clerks</a></li>
                    <li><a href="#">Magistrates</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu" myDropDown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        System Change Logs  <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Longevity Table</a></li>
                    </ul>
                </li>                
            </ul>
          </li>
        </ul>
    </td>
    </tr>
</table>
